# Git
.git/
.gitignore

# Python
__pycache__/
*.pyc

# 環境設定
.env
.devcontainer/
.vscode/

# Service Account JSON キー
sa-key.json

# Terraform キャッシュ
.terraform/
*.tfstate
*.tfstate.*

# Mac
.DS_Store

# CI 関連
.github/
